{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "My Forms" %}
{% endblock %}

{% block content %}
<h2 class="mb-4">{% trans "My Forms" %}</h2>
{% if forms %}
    <ul class="list-group">
    {% for form in forms %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <h5 class="mb-1">{{ form.title }}</h5>
                <p class="mb-1">{{ form.description|linebreaksbr }}</p>
                <small class="text-muted">{% trans "Created on" %} {{ form.creation_date_time | date:"d.m.Y h:m"}}</small>
            </div>
            <div class="d-flex flex-column">
                <a href="{% url 'edit_form' form.id %}" class="btn btn-sm btn-primary mb-2">{% trans "Edit" %}</a>
                <a href="{% url 'edit_questions' form.id %}" class="btn btn-sm btn-primary">{% trans "Edit questions" %}</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-info" role="alert">
        {% trans "You haven't created any forms yet." %}
    </div>
{% endif %}
{% endblock %}
